.hero {
  background-image: url('https://images.unsplash.com/photo-1504328345606-18bbc8c9d7d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  text-align: center;
  color: var(--text-color);
}

.hero h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 0;
}

.home{
  margin-top: 40px;
}

.learning-path-list{
  padding: 23px;
}

.card-grid-container {
  overflow-x: auto;
  white-space: nowrap;
}

.card-grid {
  display: inline-flex;
}

.card-grid .card {
  flex: 0 0 auto;
  margin-right: 20px;
}

.card-grid .card-img-top {
  object-fit: cover;
  height: 200px;
}