/* App.css */

/* Set the background color and text color of the app */
:root {
  --primary-color: #2A2D34;
  --secondary-color: #CCCCCC;
  --text-color: #FFFFFF;
}

body {
  background-color: var(--primary-color) !important;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Make the app take full screen size */
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 20px 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #2A2D34;
}

::-webkit-scrollbar-thumb {
  background-color: #2A2D34;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2A2D34;
}

.learning-path-page {
  display: flex;
}

.left-panel {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
}

.left-panel h2 {
  margin-bottom: 20px;
}

.right-panel {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
}

.right-panel h2 {
  margin-bottom: 20px;
}

.card {
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.btn {
  margin-top: 10px;
}

.btn-primary {
  margin-right: 10px;
}

.card-grid-container {
  overflow-x: auto;
  white-space: nowrap;
}

.card-grid {
  display: inline-flex;
}

.card-grid .card {
  flex: 0 0 auto;
  margin-right: 20px;
}

.card-grid .card-img-top {
  object-fit: cover;
  height: 200px;
}

.tags-container {
  margin-top: 10px;
}

.tags-container .badge {
  margin-right: 5px;
}
